@font-face {
    font-family: "BrandonGrotesque";
    src: url('../css/fonts/BrandonGrotesque.ttf');
}

/*////////////////////////////////*/
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

body {
    font-size: 14px;
    background:url("../img/bg.png") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 200%;
    position: relative;
    min-height:100%;

}
.next-page{

    border: 1px solid #000000;
    text-decoration: none;
    margin: 5px;
    padding: 9px;
    display: inline-block;
    color: #000;
}
.next-page a{
    font-family: "BrandonGrotesque";
}
.next-page:hover{
    color: red;
    background: #9acfea;
    background: linear-gradient(to top,  rgb(247, 247, 234), rgb(154, 207, 234));
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.stat-window{
    width: 1170px;
    height: 1412px;
    box-shadow: -2px 2px 74px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: #ffffff;
    position: absolute;
    top:50px;
    left: 50%;
    transform: translate(-50%);


}
.text-part{
    background-color: #f9f9f9;
}
.graphics-part{
    /*display: flex;*/
    font-family: "BrandonGrotesque";
    text-align: center;
}
.graphics-part h1{
    text-align: center;
}
.graphics-part h2{
    text-align: end;
}
#chartdiv1{
    width:100%;
    height: 400px;
    background-color: #FFFFFF;

}
#chartdiv2{
    width:100%;
    height: 400px;
    background-color: #FFFFFF;

}
#chartdiv3{
    width:100%;
    height: 400px;
    background-color: #FFFFFF;

}
/*//////////////////////////////////////////////*/